body {
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  width: 400px;
  height: 50px;
}

a {
  text-decoration: none;
  color: #000;
}

h5 {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* General page syntax */
#net, #ruby, #css, #refresh, #stack, #quiz {
  display: none;
  padding-top: 70px;
}

#net, #ruby, #css, #cssreact, #rubyrails, #csharpnet {
  text-align: center;
  padding-top: 70px;
}

/* Background colors (gradients: cssgradient.io) */
#rubyrails {
  background: rgb(180,67,54);
  background: linear-gradient(121deg, rgba(180,67,54,1) 0%, rgba(217,200,198,1) 35%, rgba(200,117,112,1) 77%);
}

#csharpnet {
  background: rgb(196,161,200);
  background: linear-gradient(121deg, rgba(196,161,200,1) 0%, rgba(146,105,154,1) 35%, rgba(143,117,157,1) 77%);
}

#cssreact {
  background: rgb(161,161,200);
  background: linear-gradient(121deg, rgba(161,161,200,1) 0%, rgba(107,105,154,1) 35%, rgba(119,117,157,1) 77%);
}

/* Navbar */
#navbar {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1;
}

.logo {
  position: fixed;
  float: left;
  margin: 15px 40px;
}

.blanc {
  color: #fff;
}

#navbar ul {
  list-style: none;
  height: 40px;
  background: rgb(54,180,151);
  background: linear-gradient(121deg, rgba(54,180,151,1) 0%, rgba(133,198,189,1) 35%, rgba(77,174,169,1) 77%);
}

#navbar ul.dark {
  background: rgb(73,73,87);
  background: linear-gradient(121deg, rgba(73,73,87,1) 0%, rgba(26,24,45,1) 35%, rgba(43,43,54,1) 77%);
}

#navbar ul li {
    display: inline-block;
    padding: 10px;
    float: right;
}

#navbar ul li a {
  color: #fff;
  font-size: 20px;
  padding: 14px 45px;
}

/* Main content */

#start {
  padding: 70px 20px 10px 20px;
}

.picture {
  padding: 10px;
  text-align: center;
}

.cap {
  position: relative;
  margin: 0 auto;
  padding: 2px;
  width: 305px;
  display: inline-block;
  height: 400px;
}

.pic {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  padding: 5px;
  margin: 15px;
}

#pic1 {
  background: url(img/CSS.png);
}

#pic2 {
  background: url(img/rails.png);
}

#pic3 {
  background: url(img/Csharp.png);
}

.question {
  padding: 0 20px;
}

.question label {
  padding: 10px;
}

#btn {
  margin: 30px;
  width: 80px;
  border-radius: 4px;
}

@media screen and (max-width: 534px) {
  #navbar a:not(:first-child) {
    display: none;
  }}

  .logo {
    position: relative;
    background-position: center;
  }
}
